/**
 * Automatic version: https://cdn.jsdelivr.net/npm/water.css@2/out/water.css
 * Uses light theme by default but switches to dark theme
 * if a system-wide theme preference is set on the user's device.
 */
 @use 'water.min';