h1{
  text-align: center;
  padding: 20px;
}

button{
  display: block;
  margin: 30px auto;
  width: 300px;
  background: transparent;
  border: 1px solid lightblue;
  padding: 20px 50px;
  color: lightblue;
  border-radius: 3px;
  font-size: 22px;

  &:hover{
    background: rgba(lightblue, 0.15);
  }

  &:active{
    background: rgba(lightblue, 0.3);
  }

}
